* {
    box-sizing: border-box;
}

body {
    margin: 0;
}

nav {
    background-color: lightgray;
    display: flex;
    justify-content: space-between;
}

a {
    display: inline-block;
    color: black;
    text-decoration: none;
    padding: 0 0.5em;
}

a:hover {
    color: blue;
}

.nav-left, .nav-right {
    display: inherit;
    align-items: center;
}

.nav-items {
    font-family: 'Work Sans', sans-serif;
    font-weight: bold;
    display: inherit;
}

.logo {
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    font-size: 2em;
}