* {
    box-sizing: border-box;
}

body {
    margin: 0;
}

nav {
    background-color: lightgray;
    display: flex;
    justify-content: space-between;
}

a {
    display: inline-block;
    color: black;
    text-decoration: none;
    padding: 1em;
}

a:hover {
    color: blue;
}

.nav-left, .nav-right {
    display: inherit;
}

.nav-items {
}