* {
    box-sizing: border-box;
}

body {
    margin: 0;
}

nav {
    background-color: lightgray;
    display: flex;
    justify-content: space-between;
}

.nav-left, .nav-right {
    display: inherit;
}

.nav-items {
    padding: 1em;
}