body, html {
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
    font-family: Arial, Ubuntu, sans-serif;
}

.message {
    width: 95%;
    height: 2em;
    margin: 10px auto;
    padding: 0.5em;
    border: 1px solid lightgray;
    border-radius: 7px;
}

.message-info {
    background-color: #c3d5ff;
    color: #372c89;
}

.message-success {
    background-color: #bbe5c6;
    color: #3f8556;
}

.message-warning {
    background-color: #fbfbbd;
    color: #7a6b13;
}

.message-error {
    background-color: #f8c7cd;
    color: #8a2e44;
}