body, html {
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
    font-family: Arial, Ubuntu, sans-serif;
}

.message-info {
    background-color: #c3d5ff;
}

.message-success {
    background-color: #bbe5c6;
}

.message-warning {
    background-color: #fbfbbd;
}