body {
    font-family: Menlo, monospace;
    font-size: 1.25em;
    margin: 0;
    background-color: rgb(48, 44, 40);
}

.container {
    background-color: rgba(255, 255, 255, 0.8);
    padding: 1em;
}

.form-group {
    display: flex;
    flex-direction: column;
    /*justify-content: space-around;*/
}

.form-group > * {
    margin: 0.25em 0;
}

#number {
    font-family: Menlo, monospace;
    font-size: 1.5rem;
    text-align: center;
    padding: 0.5rem;
    border-radius: 0.25em;
}

#output {
    font-size: 1em;
}

#submit {
    font-family: Menlo, monospace;
    font-size: 1rem;
    padding: 1em;
    background-color: rgb(48, 44, 40);
    color: white;
    border-radius: 0.5em;
}

@media (min-width: 768px) {
    body {
        font-size: 1.5em;
    }

    .container {
        margin: 1.5em;
    }

    .form-group {
        padding: 1em;
    }

    #output {
        padding: 0 1em;
    }

    #submit {
        font-size: 1.5rem;
        padding: 0.5em;
    }
}

@media (min-width: 1200px) {
    .container {
        margin: 3em;
    }

    .form-group {
        padding: 2em;
    }

    #output {
        padding: 0 2em;
    }
}