body {
    font-family: 'Raleway', sans-serif;
    color: saddlebrown;
}

h1 {
    font-family: 'Fira Sans Condensed', sans-serif;
}

h2 {
    color: #0a970a;
}

div.row {
    padding-top: 1.5em;
}

div.row:nth-child(2) {
    padding-bottom: 1em;
    border-bottom: 0.25em solid #808040;
}

