body {
    background-color: papayawhip;
    background-image: url("../img/penrose_tiling.png");
}

h1, h2, h3, h4, h5, h6 {
    color: #2a52be;
    text-decoration: underline;
}

ul {
    list-style: square;
}

#top {
    text-align: center;
}