* {
    font-family: Avenir, sans-serif;
}
body {
    background-color: papayawhip;
    background-image: url("../img/penrose_tiling.png");
}

h1, h2, h3, h4, h5, h6 {
    color: #2a52be;
    text-decoration: underline;
}

ul {
    list-style: square;
}

table {
    font-size: 1.2em;
}

td {
    padding: 5px 30px;
}

#top {
    text-align: center;
}